<ion-view view-title="意见反馈" style="background-color: #EEEEEE">
  <ion-content >
    <h3 class="mySkills-1">请选择您要反馈的问题类型(必填)</h3>
    <div class="feedBack">
      <ul class="feedBack2">
        <li value="1">功能介绍</li>
        <li value="2">操作问题</li>
        <li value="3">其它</li>
      </ul>
      <textarea class="addTeam-textarea" ng-model="feedBackInfo.content" maxlength="200"  placeholder="请输入问题内容"></textarea>
      <div class="addTeam-num">
        <span ng-if="feedBackInfo.content.length ==undefined">0/200</span>
        <span ng-if="feedBackInfo.content.length !==undefined">{{feedBackInfo.content.length}} / 200</span>
      </div>
    </div>
    <h3 class="mySkills-1">请上传相关截图</h3>
    <div class="mySkillsImg addSkillImg" id="addPush">
      <div class="addSkillNum">
        <span class="addSkill-left">图片上传</span>
        <span>{{thumbReplyImgLength}}/5</span>
      </div>
      <div class="group-reply-upload-images padding-left">
        <div compile="replyHTML"  style="display: inline-block;"></div>
        <div class="group-reply-image-item" ng-if="thumbReplyImgLength < 5">
          <img src="./././img/img-plus.png">
          <input type="file" accept="image/*"  onchange="angular.element(this).scope().selectImgChanged(this.files)"/>
        </div>
      </div>
    </div>
  </ion-content>
  <div ng-include="'toast.html'" ng-class="toastClass"></div>
  <ion-footer-bar>
    <button  class="button button-balanced sublime-btn" ng-click="addFeedBack()">提交</button>
  </ion-footer-bar>
</ion-view>


