<ion-view view-title="{{teamName}}" style="background-color: #EEEEEE">
  <ion-nav-bar>
    <ion-nav-back-button class="button-clear" style="color: #333;" ng-click="goBackBtn()">
      <i class="ion-chevron-left"></i> 返回
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="right" >
    <button class="button " ng-click="modify()" ng-if="modifyBut"  style="color: #33cd5f;border: 0;font-size: 15px;">
      <span  >修改</span>
    </button>
    <button class="button " ng-click="saveGroupInfo()" ng-if="!modifyBut"  style="color: #33cd5f;border: 0;font-size: 15px;">
      <span >保存</span>
    </button>
  </ion-nav-buttons>
  <ion-content >
    <div class="list listStyle">
      <div class="item carInput  carInput2" style="margin: 0;border: 0;border-bottom: 1px solid #ddd">
        <span>班组名称</span>
        <input type="text" placeholder="班组名称" ng-model="groupInfo.name" ng-disabled="ngSelecte" style="background-color: #fff;">
      </div>
      <div class="item carInput carInput1 button ngDisabled_item" style="border: 0;border-radius: 0;"  ng-click="teamChange()" >
        <span>班组长授权</span>
        <div class="captainChange2">
          <i class="ion-ios-arrow-right"></i>
        </div>
      </div>
    </div>

  </ion-content>
  <div ng-include="'toast.html'" ng-class="toastClass"></div>

</ion-view>


